text.users {
    font-family: Calibri, sans-serif;
    font-size: 20px;
    fill:rgb(230, 18, 18);
    stroke: rgb(16, 192, 16);
}
rect.users {
    fill: rgb(127, 238, 201);
    stroke: magenta;
    stroke-width: 3px;
    opacity: 0.5;
    shape-rendering: crispEdges;
}
text.tooltipRadar{
    font-size: 11px;
    font-family: Calibri, sans-serif;
}
text.legendRadar{
    font-size: 14px;
    font-family: Calibri, sans-serif;
    fill: rgb(51, 51, 51);
    text-anchor: middle;
    text-align: left;
}
text.axisRadar{
    font-size: 13px;
    font-stretch: expanded;
    font-family: Calibri, sans-serif;
    fill: rgb(115, 115, 115);
    text-anchor:start;
    text-align: center;
}
text.topdates {
    font-size: 10px;
    font-weight: normal;
    font-family: Calibri, sans-serif;
    fill:rgb(84,83,79);
    stroke-width: 10px;
}
stop.top {
    stop-color: rgb(82, 73, 73);
    stop-opacity: 1;
}

stop.bottom {
    stop-color: rgb(82, 73, 73);
    stop-opacity: 0.10;
}
circle.gridCircle {
    fill: rgb(255, 155, 97);
    stroke:rgba(255, 155, 97,0.25);
}
line.line {
    stroke:rgb(248, 230, 230);
    stroke-width:1.5px;
    background-color: azure;
}

.leafy {
    color: green;
    font-size: 45px;
}


.toolTip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 25px Calibri,sans-serif;
    background: black;
    color:white;
    border: 10px;
    border-radius: 8px;
    pointer-events: none;
}

.rim {
    fill: none;
    stroke: none;
}

text.axisLabel {
    stroke-width: 0.5px;
    font: 25px Calibri,sans-serif;
    text-anchor: middle;
    fill:rgba(211, 127, 56, 0.74);
}
text.axisNames {
    stroke-width: 0.5px;
    font: 15px Calibri,sans-serif;
    text-anchor: end;
    fill: rgb(123, 168, 99);
}

text.axis {
    stroke-width: 4px;
    font: 25px Calibri,sans-serif;
}
rect.barrim {
    opacity:1;
    fill: rgb(234, 240, 197);
}
#weightSinglePlus {
    fill: rgb(37, 175, 213);
}

#weightSingleMinus {
    fill: rgba(231, 127, 121, 1);
}
