text.users {
    font-family: Calibri, sans-serif;
    font-size: 20px;
    fill:rgb(230, 18, 18);
    stroke: rgb(16, 192, 16);
}
rect.users {
    fill: rgb(127, 238, 201);
    stroke: magenta;
    stroke-width: 3px;
    opacity: 0.5;
    shape-rendering: crispEdges;
}
text.tooltipRadar{
    font-size: 11px;
    font-family: Calibri, sans-serif;
}
text.legendRadar{
    font-size: 14px;
    font-family: Calibri, sans-serif;
    fill: rgb(51, 51, 51);
    text-anchor: middle;
    text-align: left;
}
text.axisRadar{
    font-size: 13px;
    font-stretch: expanded;
    font-family: Calibri, sans-serif;
    fill: rgb(115, 115, 115);
    text-anchor:start;
    text-align: center;
}
text.topdates {
    font-size: 10px;
    font-weight: normal;
    font-family: Calibri, sans-serif;
    fill:rgb(84,83,79);
    stroke-width: 10px;
}
stop.top {
    stop-color: rgb(82, 73, 73);
    stop-opacity: 1;
}

stop.bottom {
    stop-color: rgb(82, 73, 73);
    stop-opacity: 0.10;
}
circle.gridCircle {
    fill: rgb(255, 155, 97);
    stroke:rgba(255, 155, 97,0.25);
}
line.line {
    stroke:rgb(248, 230, 230);
    stroke-width:1.5px;
}




.front {
    fill: rgba(36, 207, 207, 0.72);
    stroke: brown;
}

.frontl {
    stroke: rgba(57, 86, 191, 0.7411764705882353);
    fill: none;
    stroke-width: 20
}

.toolTip {
    top: -100px;
    /*Stop seeing initial position*/
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 25px Calibri,sans-serif;
    background: initial;
    color:white;
    border: 10px;
    border-radius: 8px;
    pointer-events: none;
}

.rim {
    fill: none;
    stroke: none;
}

.axisLabel {
    stroke-width: 0.5px;
    font: 25px Calibri,sans-serif;
    text-anchor: middle;
    stroke: rgba(8, 109, 148, 0.74);
}
.axisNames {
    stroke-width: 0.5px;
    font: 15px Calibri,sans-serif;
    text-anchor: end;
    stroke: #006e80;
}

.axis {
    stroke-width: 4px;
    font: 25px Calibri,sans-serif;
}
.barrim {
    opacity:1;
    fill: rgba(105, 119, 18, 0.5);
}
#weightSinglePlus {
    fill: rgba(56, 227, 34, 0.91);
}

#weightSingleMinus {
    fill: rgba(231, 127, 121, 1);
}
/* body {
    background-color: rgba(135, 61, 108, 0.92);
}
svg{width:500px;height:600px} */