<select (change)="chooseData($event.target.value,updateLabel!=='MAKE POINTED')">
    <option *ngFor="let i of dbKeyData">{{i}}</option>
</select>
<select (change)="choosePlot1($event.target.value)">
    <option *ngFor="let i of plotLab">{{i}}</option>
</select>
<select (change)="choosePlot2($event.target.value)">
    <option *ngFor="let i of plotLab">{{i}}</option>
</select>
<button (click)="changeDat()">{{updateLabel}}</button>
<button (click)="sendOpt()">{{sendOptLabel}}</button>
<button (click)="resetOpt()">{{resetOptLabel}}</button>

