<div style="color:rgb(1,200,210);background-color:white">
<select style="color:inherit" (change)="chooseData($event.target.value,updateLabel!=='MAKE POINTED')">
    <option *ngFor="let i of dbKeyData">{{i}}</option>
</select>
<select style="color:inherit"  (change)="choosePlot1($event.target.value)">
    <option *ngFor="let i of plotLab">{{i}}</option>
</select>
<select style="color:inherit" (change)="choosePlot2($event.target.value)">
    <option *ngFor="let i of plotLab">{{i}}</option>
</select>
<button style="color:inherit" (click)="changeDat()">{{updateLabel}}</button>
<button style="color:inherit" (click)="sendOpt()">{{sendOptLabel}}</button>
<button style="color:inherit" (click)="resetOpt()">{{resetOptLabel}}</button>
<button style="color:inherit" (click)="shock()">{{shockLabel}}</button>
<p id="shocks"></p>
</div>